<div class="center jumbotron">
  <h1>総会やぞ</h1><br>

  <h2>
    総会の出席をとるWebアプリです
  </h2>
  <% if current_user.present? %>
    <%= link_to "出席", attend_path, class: "btn btn-lg btn-primary" %>
    <% if current_user.admin? %>
      <%= link_to "総会を登録", 'soukais/new', class: "btn btn-lg btn-primary" %>
    <% end %>
  <% else %>
    <%= link_to "Sign in", login_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>