<h1>Password reset</h1>

<p>パスワードをリセットするには下のリンクを踏んでください</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>このリンクは2時間で有効期限が切れます</p>

<p>
もしパスワードをリセットしたくなかったら このメールは無視してもらって大丈夫です
</p>