<li>
  <table class="table">
    <tr>
      <th style="width: 100px;">
        <% if current_user.admin? && !current_user?(user) %>
      | <%= link_to "delete", user, method: :delete,
                                    data: { confirm: "You sure?" } %>
        <% end %>
      </th>
      <th style="width: 100px;">name</th><th>4月</th><th>5月</th><th>6月</th><th>7月</th><th>8月</th><th>9月</th>
      <th>10月</th><th>11月</th><th>12月</th><th>1月</th><th>2月</th><th>3月</th></tr>
    <tr>
      <th><%= gravatar_for user%></th><th><%= link_to user.name, user %></th>
      <% set_month user.id %>
      <th>
        <% if @apr then %>
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        <% end %>
      </th>
      <th>
        <% if @may then %>
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        <% end %>
      </th>
      <th>
        <% if @jun then %>
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        <% end %>
      </th>
      <th>
        <% if @jul then %>
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="@"></span>
        <% end %>
      </th>
      <th>
        <% if @aug then %>
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="@"></span>
        <% end %>
      </th>
      <th>
        <% if @sep then %>
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="@"></span>
        <% end %>
      </th>
      <th>
        <% if @oct then %>
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="@"></span>
        <% end %>
      </th>
      <th>
        <% if @nov then %>
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="@"></span>
        <% end %>
      </th>
      <th>
        <% if @dec then %>
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="@"></span>
        <% end %>
      </th>
      <th>
        <% if @jan then %>
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="@"></span>
        <% end %>
      </th>
      <th>
        <% if @feb then %>
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="@"></span>
        <% end %>
      </th>
      <th>
        <% if @mar then %>
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        <% end %>
      </th>
    </tr>
  </table>
</li>