<li>
  <table class="table">
    <tr>
      <th style="width: 150px;">name | 
      <% if current_user.admin? && !current_user?(user) %>
        <%= link_to "delete", user, method: :delete,
                                    data: { confirm: "You sure?" } %>
        <% end %>
      </th>
      <% @soukai.each do |n| %>
        <th><%= n.name.delete("総会") %></th>
      <% end %>
    </tr>
    <tr>
      <th><%= link_to user.name, user %></th>
      <% @soukai.each do |n| %>
        <th>
            <% if return_attend(user, n.date.month) then %>
              <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            <% end %>
          </th>
      <% end %>
    </tr>
  </table>
</li>