<tr>
  <th width="120"><%= link_to user.name, user %></th>
  <% @soukais.each do |soukai| %>
  <th width="90">
    <% if attend?(user, soukai.id) then %>
    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
    <% end %>
  </th>
  <% end %>
</tr>
