<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4 col-md-offset-4">
    <section class="user_info">
      <h1 class="center"><%= @user.name %></h1>
      <table class="table">
        <thead>
      		<tr>
      			<th>&nbsp;&nbsp;&nbsp;&nbsp;月</th>
      			<th>出欠</th>
      		</tr>
      	</thead>
      	<tbody>
      	  <% @soukai.each do |m| %>
      	    <tr>
        			<th>&nbsp;&nbsp;<%= m.name %></th>
        			<td>
        			  <% if return_attend(@user, m.date.month) then %>
                  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="@"></span>
                <% end %>
        			</td>
        		</tr>
      		<% end %>
      	</tbody>
      </table>
    </section>
  </aside>
</div>
<div class="center">
  <%= link_to "出席", attend_path, class: "btn btn-lg btn-primary" %>
</div>