<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= @user.name %></h1>
      <table class="table">
        <thead>
      		<tr>
      			<th>&nbsp;&nbsp;&nbsp;&nbsp;月</th>
      			<th>出欠</th>
      		</tr>
      	</thead>
      	<tbody>
      	  <% @atted_month.each do |m| %>
      	    <tr>
        			<th>&nbsp;&nbsp; <%= m.first %></th>
        			<td>
        			  <% if m.last then %>
                  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="@"></span>
                <% end %>
        			</td>
        		</tr>
        		<tr>
      		<% end %>
      	</tbody>
      </table>
    </section>
  </aside>
</div>