<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4 col-md-offset-4">
    <section class="user_info">
      <h1 class="center">
        <%= @user.name %>
        <% if current_user.admin? && !current_user?(@user) %>
          | <%= link_to "delete", @user, method: :delete, data: { confirm: "You sure?" } %>
        <% end %>
      </h1>
      <table class="table">
        <thead>
      		<tr>
      			<th>&nbsp;&nbsp;&nbsp;&nbsp;総会</th>
      			<th>出欠</th>
      		</tr>
      	</thead>
      	<tbody>
      	  <% @soukais.each do |soukai| %>
      	    <tr>
        			<th>&nbsp;&nbsp;<%= soukai.name %></th>
        			<td>
        			  <% if attend?(@user, soukai.id) then %>
                  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="@"></span>
                <% end %>
        			</td>
        		</tr>
      		<% end %>
      	</tbody>
      </table>
    </section>
  </aside>
</div>
<div class="center">
  <%= link_to "出席", attend_path, class: "btn btn-lg btn-primary" %>
</div>