<tr>
  <td><%= link_to project.name, project %></td>
  <td><%= @soukai_name[project.soukai_id] %></td>
  <% if current_user.admin? || project_create_user?(project) %>
  <td><%= link_to "編集", edit_project_path(project.id) %></td>
  <td><%= link_to "削除", project, method: :delete,
                        data: { confirm: "You sure?" }%></td>
  <% else %>
  <td></td>
  <td></td>
  <% end %>
</tr>