<% provide(:title, 'All Projects') %>
<h1>All PROJECTS</h1>

<table class="table">
  <tr>
    <th>名前</th>
    <th>決議総会</th>
    <th></th>
    <th></th>
  </tr>
    <%= will_paginate %>
      <%= render @projects %>
    <%= will_paginate %>
</table>

<div class="center"><%= link_to "プロジェクトを登録", 'projects/new', class: "btn btn-lg btn-primary" %></div>