<% provide(:title, "vote") %>
<h1>プロジェクト選択</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag new_vote_path, method: :get do %>
      <%= label_tag :project_id %>
      <%= select_tag :project_id, options_for_select(@projects, selected: params[:project_id]), class: "form-control" %>
      <div>
        <%= submit_tag "オプション選択へ", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>